* {
    margin: 0;
    padding: 0;
}

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 2ECC71 */
/* 27AE60 */

#menu {
    position: relative;
    background-color: #5DBDA9;
    display: flex;
    color: #fff;
    width: 100%;
    margin: 0;
}

#menu-logo {
    width: 100px;
    height: 100px;
}

#menu-name {
    margin-top: 0; margin-bottom: 0;
    line-height: 100px;
}

#menu-list {
    position: absolute;
    list-style: none;
    display: flex;
    justify-content: space-around;
    bottom: auto;
    right: 0px;
    margin-top: 0;
    height: 100%;
}

.menu-item {
    line-height: 100px;
    font-size: 18px;
    text-align: center;
    margin-right: 25px;
}

.menu-item:hover {
    cursor: pointer;
    border-bottom: #fff 4px solid;
}

#agenda {
    top: 0;
    position: relative;
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
}

#agenda > i {
    position: absolute;
    cursor: pointer;
    float: right;
    right: 10px;
    top: 5px;
}

button {
    display: flex;
    width: 200px;
    height: 33px;
    background-color: #5DBDA9;
    border: 2px solid #5bb09e;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 1s;
}

button:hover {
    background-color: #5bb09e;
    transition: all 1s;
}

footer {
    border-top: solid #5bb09e 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
    height: 75px;
}

#main {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    background: center no-repeat url("../img/paysage-montagne-degrade_52683-77407.webp");
    background-size: cover;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 50%;
    text-align: center;
    color: #ffffff;
}

.member {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.ContainMember {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
    padding: 50px;
    height: 75px;
    margin-bottom: px;
    border-bottom: #5bb09e solid;
    
}

 .member > li {
    margin: 5px;
}

.socialmedia {
    display: flex;
    justify-content: space-around;
}

.mediabox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre {
    text-align: center;
    padding: 10px;
}

.condition {
    margin: 10px 50px 50px 25px;
    text-align: justify;
}

.containeIsc {
    display: flex;
    justify-content: center;
}

.InscriptionButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: rgb(245, 200, 116) solid;
    border-radius: 30px;
    padding: 10px;
    background-color: rgb(245, 200, 116);
    
}

.InscriptionButton:hover { 
    cursor: pointer;
    border: #5DBDA9 4px solid;
    background-color: #5DBDA9;
}

.missionContain{
    display: flex;
    border: #5DBDA9 solid 1px;
    border-radius: 50px;
    justify-content: center ;
    justify-content: space-around;
    margin: 10px;
}

.mission{
    text-align: center;
    padding: 30px;
}

.mission > img {
    max-width: 100%;
    height: auto;
    width: auto;
}

.mission > img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: 15px;
}

.invert :nth-child(odd){
    display: flex;
    flex-direction: row-reverse;
}

.information {
    display: flex;
    flex-direction: row;
    margin: 15px 50px;
    border: #5DBDA9 solid ;
    border-radius: 50px;
    padding: 1%;
}

.informationtxt {
    display: flex;
    margin: 25px 25px;
    align-self: center;
    justify-self: center;
    font-size: large;
}

.informationimg {
    max-height: 10%;
    height: auto;
}


.search {
    padding: 25px;
}

.articlecontain {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article {
    display: flex;
    border-bottom: #5DBDA9 solid 2px;
    border-top: #5DBDA9 solid 2px;
    padding: 1%;
    margin: 25px;
    justify-content: space-between;
    
}

.articletxt {
    display: flex;
    text-align: justify;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    max-width: 57%;
    width: auto;
}
.articletxt > h3{
    align-self: center;
    padding-bottom: 10px;
}

.readButton {
    display: flex;
    align-self: center;
    font-size: larger;
    border: solid ;
    max-width: 10%;
    width: auto;
    cursor: pointer;
    border: #51b4a0 4px solid;
    padding: 5px;
    border-radius: 50px;
    background-color: #51b4a0;
}

.readButton:hover {
    cursor: pointer;
    border: #5DBDA9 4px solid;
    background-color: #5DBDA9;
}

.article > img {
    max-width: 33%;
    width: auto;
}